.about-us-page {
  min-height: 100vh;
}

.team-member:hover {
  transform: translateY(-5px);
  transition: 0.3s;
}

.team-member img {
  border: 3px solid #007bff; /* optional border to match navbar color */
}
